﻿@model IEnumerable<RentalMoviesTask.Models.Customer>

@{
                /**/

                ViewBag.Title = "Customers";
                Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-center">Customers</h1>
@if (!Model.Any())
{
    <p>There is no customers yet.</p>
}
else
{
    <table id="customers" class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>
                    Customers
                </th>
                <th>
                    Membership Type
                </th>
                <th>
                    Delete Customer
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var customer in Model)
            {
                <tr>
                    <td>
                        @Html.ActionLink((string)customer.Name, "Edit", "Customers", new { id = customer.Id }, null)
                    </td>
                    <td>
                        @customer.MembershipType.Name
                    </td>
                    <td>
                        <button data-customer-id="@customer.Id" class="btn-link js-customer-delete">
                            Delete
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div class="col-md-12 text-center">
        @Html.ActionLink("Add New Customer", "new", "Customers", new { @type = "button" }, new { @class = "btn btn-primary" })
    </div>
}
@section scripts
{
    <script>
        $(document).ready(function () {
            $("#customers").dataTable();

            $("#customers").on("click", ".js-customer-delete", function () {
                var button = $(this);
                if (confirm("Are you sure you want to delete this customer?")) {
                    $.ajax({
                        url: "/api/customers/" + button.attr("data-customer-id"),
                        method: "DELETE",
                        success: function () {
                            button.parents("tr").remove();
                            location.reload();
                        }
                    });
                }
            });
        });
    </script>
}
