﻿@model IEnumerable<RentalMoviesTask.Models.Customer>

@{
                /**/

                ViewBag.Title = "Customers";
                Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-center">Customers</h1>
@if (!Model.Any())
{
    <p>There is no customers yet.</p>
}
else
{
    <table id="customers" class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>
                    Customers
                </th>
                <th>
                    Membership Type
                </th>        
            </tr>
        </thead>
        <tbody>
            @foreach (var customer in Model)
            {
                <tr>
                    <td>
                        @customer.Name
                    </td>
                    <td>
                        @customer.MembershipType.Name
                    </td>
                
                </tr>
            }
        </tbody>
    </table>
}
@section scripts
{
    <script>
        $(document).ready(function () {
            $("#customers").dataTable();
        });
    </script>
}
