﻿<div class="bs-component">
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
        <div class="container">
            <div class="navbar-header">
                @Html.ActionLink("Movies Rental", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse" id="navbarColor01">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item ">
                        @Html.ActionLink("Customers", "Index", "Customers", new { area = "" }, new { @class = "nav-link" })<span class="sr-only">(current)</span>
                    </li>
                    <li class="nav-item">
                        @Html.ActionLink("Movies", "Index", "Movies", new { area = "" }, new { @class = "nav-link" })
                    </li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </nav>
</div>

