﻿@model RentalMoviesTask.ViewModels.FormMovieViewModel
@{
    ViewBag.Title = "New";
}

<h1 class="text-center">@Model.Title</h1>
@using (Html.BeginForm("Save", "Movies"))
{
    <div class="form-group">
        @Html.LabelFor(m => m.Name)
        @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(m=>m.Name)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ReleasedDate)
        @Html.TextBoxFor(m => m.ReleasedDate,"{0:d MMM yyyy}", new { @class = "form-control" })
        @Html.ValidationMessageFor(m=> m.ReleasedDate)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.GenreId)
        @Html.DropDownListFor(m => m.GenreId, new SelectList(Model.Genres, "Id", "Name"), "", new { @class = "form-control" })
        @Html.ValidationMessageFor(m=>m.GenreId)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.NumberInStock)
        @Html.TextBoxFor(m => m.NumberInStock, new { @class = "form-control" })
        @Html.ValidationMessageFor(m=>m.NumberInStock)
    </div>
    @Html.HiddenFor(m=>m.Id)
    //Avoid from CSRF- Cross Site Reqest Forgery attack
    @Html.AntiForgeryToken()
    <button type="submit" class="btn btn-outline-primary">Add</button>

}
@*Enable client side validation*@
@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}
